* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgba(248, 248, 255, 0.6);
  height: 100vh;
}

body {
  background-color: #272944;
  min-height: 100vh;
  overflow-x: hidden;
}

//headings
h1, h2, h3, p, .btn {
  color: #dddddd;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
}


//display intro
.intro {
  height: 100vh;
  transition: opacity 0.5s ease;
}

//Display match
.match {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}


// player and computer hand
.hand {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .player-hand {
    transform: rotate(110deg) rotateY(180deg);
  }

  .computer-hand {
    transform: rotate(-110deg);
  }
}

//fadeout intro
div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

//fadein match
div.fadeIn {
  opacity: 1;
  pointer-events: all;
  margin-top: 5rem;
}

//player animations
@keyframes shakePlayer {
  0% {
    transform: rotate(110deg) rotateY(180deg) translateX(0px);
  }
  15% {
    transform: rotate(110deg) rotateY(180deg) translateX(-50px);
  }
  30% {
    transform: rotate(110deg) rotateY(180deg) translateX(0px);
  }
  45% {
    transform: rotate(110deg) rotateY(180deg) translateX(-50px);
  }
  60% {
    transform: rotate(110deg) rotateY(180deg) translateX(0px);
  }
  75% {
    transform: rotate(110deg) rotateY(180deg) translateX(-50px);
  }
  100% {
    transform: rotate(110deg) rotateY(180deg) translateX(0px);
  }
}

//computer animation
@keyframes shakeComputer {
  0% {
    transform: rotate(-110deg) translateX(0px);
  }
  15% {
    transform: rotate(-110deg) translateX(-50px);
  }
  30% {
    transform: rotate(-110deg) translateX(0px);
  }
  45% {
    transform: rotate(-110deg) translateX(-50px);
  }
  60% {
    transform: rotate(-110deg) translateX(0px);
  }
  75% {
    transform: rotate(-110deg) translateX(-50px);
  }
  100% {
    transform: rotate(-110deg) translateX(0px);
  }
}


//reset button
.reset-btn {
  text-align: center;
}

//hand sign buttons
.sign-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

//all buttons
.btn {
  border: none;
}

//vs image
.vs {
  margin-top: 2rem;
}
